# local
flake8
mypy
pre-commit

# fastapi
fastapi
uvicorn
# logging
loguru
# templates
Jinja2
python-multipart
# tests
pytest
httpx
pytest-asyncio
coverage

# translators
deep-translator
# openai
openai

# mongodb
pymongo
motor
# graphbd
neo4j
