<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Project Yaropolk</title>
        <!-- css -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
        <link href="{{ url_for('static', path='/css/base.css') }}" rel="stylesheet">
        <!-- favicon.ico -->
        <link rel="icon" href="{{ url_for('static', path='/favicon.ico') }}">
    </head>

    <body class="main">
        <div class="navbar">
            <a class="brand">Project Yaropolk</a>
            <a class="sound">Sound <input type="checkbox" id="soundSwitch" role="switch"></a>
        </div>

        <div class="responseContainer" id="responseContainer">
            <table id="serverResponse">
                <div class="instruct" id="instructDiv">
                    <h4>Инструкции:</h4>
                    <p>Для голосового ввода, скажите: "Ярополк"</p>
                    <p>Для отправки сообщения, скажите: "С Богом"</p>
                </div>
            </table>
        </div>
        <div class="inputContainer">
            <div class="inputForm">
                <nav>
                    <button class="secondary outline" role="button" id="deleteContextBtn">Delete context</button>
                    <textarea id="userRequest"></textarea>
                    <button class="outline" role="button" id="sendBtn">Send</button>
                </nav>
            </div>
            <footer>
                <p class="footer">
                    <small class="footer">
                        GitHub: <a href="https://github.com/Butakov-Andrey/project_yaropolk">Andrey Butakov</a>
                    </small>
                </p>
            </footer>
        </div>
        <!-- js -->
        <script type="module" src="{{ url_for('static', path='/js/home.js') }}"></script>
        <script type="module" src="{{ url_for('static', path='/js/speech_recognition.js') }}"></script>
        <script type="module" src="{{ url_for('static', path='/js/audio.js') }}"></script>
    </body>
</html>
