<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Project Yaropolk</title>
        <!-- css -->
        <link href="{{ url_for('static', path='/css/pico-master/css/pico.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', path='/css/base.css') }}" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <h1>Hello, world!</h1>

            <button class="contrast outline" id="start-recording-btn">Start Recording</button>
            <button class="contrast outline" id="stop-recording-btn">Stop Recording</button>
            <button class="contrast outline" id="send-audio-btn">Send Audio</button>

            <div id="response"></div>

        </div>

        <!-- js -->
        <script src="{{ url_for('static', path='/js/recorder.js') }}"></script>
    </body>
</html>
