<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Project Yaropolk</title>
        <!-- css -->
        <link href="{{ url_for('static', path='/css/pico-master/css/pico.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', path='/css/base.css') }}" rel="stylesheet">
        <!-- favicon.ico -->
        <link rel="icon" href="{{ url_for('static', path='/favicon.ico') }}">
    </head>
    <body>
        <div class="navbar">
            <a class="brand">Project Yaropolk</a>
            <a class="sound">Sound <input type="checkbox" id="soundSwitch" role="switch"></a>
        </div>

        <div class="mainContainer">
            <div class="responseContainer" id="responseContainer">
                <table id="serverResponse">
                    <div class="instruct" id="instructDiv">
                        <h4>Instructions:</h4>
                        <p>Для голосового ввода, скажите: "Ярополк"</p>
                        <p>Для отправки сообщения, скажите: "С Богом"</p>
                    </div>
                </table>
            </div>

            <div class="inputContainer">
                <div>
                    <p class="listen" id="listenDiv">
                    </p>
                </div>
                <div class="inputForm">
                    <nav>
                        <textarea id="userRequest"></textarea>
                        <button class="outline" role="button" id="sendBtn">Send</button>
                    </nav>
                </div>
                <footer>
                    <p>
                        <small class="footer">
                            GitHub: <a href="https://github.com/Butakov-Andrey/project_yaropolk">Andrey Butakov</a>
                        </small>
                    </p>
                </footer>
            </div>
        </div>
        <!-- js -->
        <script type="module" src="{{ url_for('static', path='/js/home.js') }}"></script>
        <script type="module" src="{{ url_for('static', path='/js/speech_recognition.js') }}"></script>
        <script type="module" src="{{ url_for('static', path='/js/_audio.js') }}"></script>
    </body>
</html>
